.footer {
  width: 100%;
  font-size: 0.6rem;
  color: var(--gray);
  text-align: center;

  a, a:hover, a:active {
    color: var(--gray);
    text-decoration: none;
  }
}

.left-align {
  justify-content: flex-start;
}

.align-center {
  margin-bottom: 0.4rem !important;
}

.wrap {
  flex-wrap: wrap;
}

.lars-info {
  width: 90%;
}

.instructions {
  width: 100%;
}

.datetime {
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
}

.map-info {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.sideways-buttons {
  display: flex;
  flex-direction: row;
}

.list-item {
  margin-right: 0.3rem;
}

.icon {
  width: 2rem;
}

.tooltip {
  font-size: 0.8rem;
  font-style: italic;
  color: #222222;

  @media (prefers-color-scheme: dark) {
    color: #dddddd;
  }
}

.custom-button {
  margin-top: 1rem;
}

summary, h1 {
  font-size: 1.3rem;
  text-align: center;
}

ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-left: 0;
}

@media (min-width: 1024px) {
  .arcs-main-app {
    margin-top: 5.5rem;
  }

  .lars-info {
    width: 50%;
  }
}

a, a:hover, a:active {
  color: var(--azure);
}